<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Explore Mars - Mission to Mars</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/owl.carousel/https://melissamonroe.github.io/web-scraping-challenge/templates/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/aos/aos1.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v2.3.1
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Explore Mars</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#latestmarsnews">Latest Mars News</a></li>
          <li><a href="#marsfacts">Mars Facts</a></li>
          <li><a href="#featuredimage">Featured Mars Image</a></li>          
          <li class="drop-down"><a href="#marshemispheres">Mars Hemispheres</a>
            <ul>
              {% for hemisphere_image_url in mars_data.hemisphere_image_urls %}
                  <li><a href="#marshemispheres"> {{hemisphere_image_url['title']}} </a></li>
              {% endfor %}        
            </ul>

          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel" data-ride="carousel">


      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="">Mission to Mars</h2>
          <p class="">Check out the latest news, facts and featured images from the Mission to Mars.</p>
          <a href="#latestmarsnews" class="btn-get-started">Read More</a>
        </div>
      </div>



      
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= News Section ======= -->
    <section id="latestmarsnews" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>News</h2>
          <p>Latest Mars News</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">

            <h4 class="heading">{{mars_data.news_title}}</h4>
            <p>{{mars_data.news_p}}</p>
    
            <h3>Featured Mars Image</h3>
            <p class="font-italic">
              Featured image from https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html
            </p>
            <div id="featuredimage">
              <img src="{{mars_data.featured_image_url}}" alt="" class="img-fluid">
            </div>
            
              

          </div>
          <div id="marsfacts" class="col-lg-6 pt-4 pt-lg-0">
            <h4 class="heading">Check out these fun Mars facts</h4>          
            {{mars_data.mars_facts_html.replace('table','table class="table"') | safe}}                        
          </div>
          

        </div>

      </div>
    </section><!-- End About Section -->  

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" style="display:none">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Mars</h3>
            <p> Explore</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Explore Mars</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

  
    <!-- ======= Mars Hemispheres Section ======= -->
    <section id="marshemispheres" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Explore Mars Hemispheres</h2>
          <p>Mars Hemispheres</p>
        </div>

        <div class="row content" data-aos="fade-up">

          {% for hemisphere_image_url in mars_data.hemisphere_image_urls %}
          <div class="col-lg-6" style="margin: 6px 0">
            <p>
              <img src="{{hemisphere_image_url['img_url']}}" class="img-fluid" alt="">
              <h3>
                {{hemisphere_image_url['title']}}
              </h3>
            </p>
          </div>
          {% endfor %}                          
        </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    

  

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Mission to Mars</h3>
      <p>Come back again to see the latest news, feature images and more.</p>
        <div class="social-links" style="display: none;">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="btn-wrap">
          <a href="/scrape" class="btn-buy">Scrape New Data</a>
        </div>
      </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/jquery/jquery.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/venobox/venobox.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/js/main.js"></script>

</body>

</html>