<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Explore Mars - Mission to Mars</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/favicon1.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/owl.carousel/https://melissamonroe.github.io/web-scraping-challenge/templates/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/aos/aos1.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v2.3.1
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Explore Mars</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#latestmarsnews">Latest Mars News</a></li>
          <li><a href="#marsfacts">Mars Facts</a></li>
          <li><a href="#featuredimage">Featured Mars Image</a></li>          
          <li class="drop-down"><a href="#marshemispheres">Mars Hemispheres</a>
            <ul>
              <li><a href="#marshemispheres"></a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel" data-ride="carousel">


      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="">Mission to Mars</h2>
          <p class="">Check out the latest news, facts and featured images from the Mission to Mars.</p>
          <a href="#latestmarsnews" class="btn-get-started">Read More</a>
        </div>
      </div>



      
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= News Section ======= -->
    <section id="latestmarsnews" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>News</h2>
          <p>Latest Mars News</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">

            <h4 class="heading">{{mars_data.news_title}}</h4>
            <p>{{mars_data.news_p}}</p>
    
          </div>
          <div id="marsfacts" class="col-lg-6 pt-4 pt-lg-0">
              {{mars_data.mars_facts_html}}            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="featuredimage" class="features">
      <div class="container">

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">

              <div id="featuredimage" class="col-lg-6 text-center">
                <img src="{{mars_data.featured_image_url}}" alt="" class="img-fluid">
              </div>
              <div class="col-lg-6">
                <h3>Featured Mars Image</h3>
                <p class="font-italic">
                  From https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html
                </p>
                
              </div>              
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/features-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                </ul>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/features-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/img/features-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" style="display:none">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Mars</h3>
            <p> Explore</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Explore Mars</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

  
    <!-- ======= Mars Hemispheres Section ======= -->
    <section id="marshemispheres" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Explore Mars Hemispheres</h2>
          <p>Mars Hemispheres</p>
        </div>

        <div class="row content" data-aos="fade-up">

          {% for hemisphere_image_url in mars_data.hemisphere_image_urls %}
          <div class="col-lg-6">
            <img src="{{hemisphere_image_url['img_url']}}" class="img-fluid" alt="">
            <h3>
              {{hemisphere_image_url['title']}}
            </h3>
          </div>
          {% endfor %}        
        
          
        </div>




        </div>

      </div>
    </section><!-- End Portfolio Section -->

    

  

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Mission to Mars</h3>
      <p>Come back again to see the latest news, feature images and more.</p>
      <div class="social-links" style="display: none;">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/jquery/jquery.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/php-email-form/validate.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/venobox/venobox.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="https://melissamonroe.github.io/web-scraping-challenge/templates/assets/js/main.js"></script>

</body>

</html>